<div class="container mt-2">
    <div class="text-center p-3">
        <span class="mr-1" style="font-size: medium;">©2023 Copyright: Grzegorz Waluś</span>

        <!-- Default Statcounter code for Portfolio https://gwalus.github.io -->
        <div class="statcounter"><a title="Web Analytics Made Easy - Statcounter" href="https://statcounter.com/"
                target="_blank"><img class="statcounter" src="https://c.statcounter.com/12882461/0/71c80dff/0/"
                    alt="Web Analytics Made Easy - Statcounter" referrerPolicy="no-referrer-when-downgrade"></a>
        </div>
        <!-- End of Statcounter Code -->

        <hr class="my-2">
        <i class="mr-2">powered by:</i>

        <span class="experience-bagde badge bg-primary mt-2 mr-1">Angular</span>
        <span class="experience-bagde badge bg-secondary mr-1">Bootstrap</span>
        <span class="experience-bagde badge bg-primary mr-1">Bootswatch - Sketchy</span>
        <span class="experience-bagde badge bg-secondary mr-1">Github - pages</span>
        <span class="experience-bagde badge bg-primary mr-1">PNG Egg</span>
    </div>
</div>