<div class="container float-left">
    <div class="row">
        <div class="col-2">
            <h3>Whoami</h3>
        </div>
        <div class="col-10">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 m-4">
            <img src="https://avatars.githubusercontent.com/u/61661032?s=400&u=876323e869d5baa02f921fb4af3acab38d15f59a&v=4"
                alt="me" class="img-thumbnail border border-bottom border-warning mb-0" style="max-height: 15rem;">
            <h2 class="mt-2 ml-2 text-decoration-underline">Grzegorz Waluś</h2>
        </div>
        <div class="col">
            <div class="row">
                <span id="skills" style="font-size: 26px;">Main skills:</span>
                <ul class="list-inline">
                    <li class="list-inline-item" tooltip="C#">
                        <img src="/assets/csharp.png" class="skill-thumb-icon" alt="c#">
                    </li>
                    <li class="list-inline-item" tooltip="Visual Studio">
                        <img src="/assets/vs.png" class="skill-thumb-icon" alt="vs">
                    </li>
                    <li class="list-inline-item" tooltip="Git">
                        <img src="/assets/git.png" class="skill-thumb-icon" alt="git">
                    </li>
                    <li class="list-inline-item" tooltip="MSSql / T-SQL">
                        <img src="/assets/sql.png" class="skill-thumb-icon" alt="sql">
                    </li>
                </ul>
            </div>

            <div class="row">
                <span id="skills" style="font-size: 22px;">Side skills:</span>
                <ul class="list-inline">
                    <li class="list-inline-item" tooltip="Docker">
                        <img src="/assets/docker.png" class="skill-side-thumb-icon" alt="docker">
                    </li>
                    <li class="list-inline-item" tooltip="Angular">
                        <img src="/assets/angular.png" class="skill-side-thumb-icon" alt="angular">
                    </li>
                    <li class="list-inline-item" tooltip="Bootstrap">
                        <img src="/assets/bootstrap.png" class="skill-side-thumb-icon" alt="bootstrap">
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <tabset>
                <tab heading="Description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel felis non mi accumsan
                        consectetur.
                        Curabitur condimentum justo in mauris viverra, quis pretium nisi aliquet. Morbi in libero
                        sollicitudin,
                        dictum enim quis, rutrum purus. Mauris bibendum vehicula nibh, et auctor ligula sodales eu.
                        Etiam
                        rhoncus ex ante, bibendum auctor diam varius ut. Curabitur accumsan congue nulla nec congue.
                        Praesent
                        efficitur convallis venenatis. Morbi commodo dolor libero, ac semper enim posuere eget. Nullam
                        rhoncus,
                        ipsum ut fermentum venenatis, eros ex interdum risus, non interdum leo est ut risus. Vivamus ut
                        lacus
                        commodo, ultrices libero quis, congue lorem. Cras ut molestie lacus. Vestibulum nec arcu eget
                        lacus
                        tincidunt faucibus. Praesent et eros quis elit mattis pretium. Nullam ut magna vulputate risus
                        fermentum
                        convallis. Vestibulum id blandit risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </tab>
                <tab heading="Hobbies">
                    <div class="row">
                        <ul class="list-inline m-3">
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/road_bike.png" class="skill-side-thumb-icon" alt="">
                            </li>
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/swimming.png" class="skill-side-thumb-icon" alt="">
                            </li>
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/lego.png" class="skill-side-thumb-icon" alt="">
                            </li>
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/games.png" class="skill-side-thumb-icon" alt="">
                            </li>
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/puzzle.png" class="skill-side-thumb-icon" alt="">
                            </li>
                            <li class="list-inline-item hobby-li-item">
                                <img src="/assets/football.png" class="skill-side-thumb-icon" alt="">
                            </li>
                        </ul>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-2">
            <h3 id="experience">Experience</h3>
        </div>
        <div class="col-10">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <span class="text-uppercase font-weight-bold" style="font-size: 22px;">Futuriti SA, Cracov </span>
                    |
                    <span class="font-weight-bold font-italic text-monospace">06.2021 - 04.2023</span>

                    <br>
                    <span class="experience-bagde badge bg-primary">Allegro</span>
                    <span class="experience-bagde badge bg-secondary">Amazon</span>
                    <span class="experience-bagde badge bg-primary">Zalando</span>
                    <span class="experience-bagde badge bg-secondary">PrestaShop</span>
                    <span class="experience-bagde badge bg-primary">Shoper</span>
                    <span class="experience-bagde badge bg-secondary">...</span>
                </li>
            </ul>
        </div>
    </div>
</div>