<nav class="navbar navbar-expand navbar-light bg-light fixed-top" id="navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">About me
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/gwalus">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" rel="noopener" class="nav-link"
                        href="https://www.linkedin.com/in/grzegorz-waluś-826bb6203/">
                        <i class="bi bi-twitter"></i>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>