<div class="container mt-2">
    <div class="row">
        <div class="col-md-2">
            <h3 id="projects">Projects</h3>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>

    <div class="row d-flex mt-3">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/Drinker" target="_blank">
                    <img src="/assets/drinker.jpg" alt="Coctails" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Drinker</h3>
                    <p>Choose your favourite ingredients and make a coctails.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Angular</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">CI/CD</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="https://github.com/gwalus/Quizzy_v2" target="_blank">
                <div class="grid-item">
                    <img src="/assets/quizzy.jpg" alt="Quizzy_v2" class="img-fluid">
                    <div class="caption">
                        <h3>Quizzy</h3>
                        <p>Check your knowledge from other categories...</p>
                        <ul class="list-group list-group-horizontal d-flex flex-wrap">
                            <li class="list-group-item">WebAPI</li>
                            <li class="list-group-item">Angular</li>
                            <li class="list-group-item">PostgreSQL</li>
                            <li class="list-group-item">Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://gw-dating-app.fly.dev" target="_blank">
                    <img src="/assets/dating_app.jpg" alt="DatingApp" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>DatingApp</h3>
                    <p>Register and find your new love...</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Angular</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">SignalR</li>
                        <li class="list-group-item">Fly.io</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/ShoesCollector" target="_blank">
                    <img src="/assets/shoes_collector.jpg" alt="ShoesCollector" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>ShoesCollector</h3>
                    <p>Store data about your buying and selling process.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">Heroku</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/Confab" target="_blank">
                    <img src="/assets/confab.jpg" alt="Confab" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Confab</h3>
                    <p>A modular monolit architecture course created by DevMentors.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Clean Architecture</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">DDD</li>
                        <li class="list-group-item">CQRS</li>
                        <li class="list-group-item">Unit Tests</li>
                        <li class="list-group-item">Introdution to MicroServices</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/Drumpad" target="_blank">
                    <img src="/assets/drumpad.jpg" alt="Drumpad" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Drumpad</h3>
                    <p>Choose your music style and play by mixed other samples.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">XAML</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/CeneoSearcher" target="_blank">
                    <img src="/assets/ceneo_searcher.jpg" alt="CeneoSearcher" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>CeneoSearcher</h3>
                    <p>Find products, subscribe them and check how prices change.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">Sqlite</li>
                        <li class="list-group-item">WebScrapping</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/RoadFighter_WinformsGame" target="_blank">
                    <img src="/assets/road_fighter.jpg" alt="RoadFighter" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>RoadFighter</h3>
                    <p>RoadFighter - the game inspired the game at the same name from pegasus.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">Windows Forms / C#</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/QuizApp_Xamarin" target="_blank">
                    <img src="/assets/quiz_app.jpg" alt="QuizApp" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>QuizApp</h3>
                    <p>Check your knowledge from other categories...</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">Xamarin / C#</li>
                        <li class="list-group-item">Mobile App</li>
                        <li class="list-group-item">Open Trivia DB</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/CarRegistration" target="_blank">
                    <img src="/assets/car_registration.jpg" alt="CarRegistration" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Car registration</h3>
                    <p>Simple project to store data about vehicles.</p>
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item">Blazor</li>
                        <li class="list-group-item">CRUD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <a class="nav-link" href="#whoami">
                <i class="bi bi-arrow-up-circle" style="font-size: 3rem;"></i>
            </a>
        </div>
    </div>

</div>