<div class="container mt-2">
    <div class="row">
        <div class="col-md-2">
            <h3 id="projects">Projects</h3>
        </div>
        <div class="col-md-10">
            <hr>
        </div>
    </div>

    <div class="project-grid">
        <div *ngFor="let project of projects" class="grid-item" [ngClass]="project.type">
            <a [href]="project.link" target="_blank">
                <img [src]="project.image" [alt]="project.name" class="img-fluid">
            </a>
            <div class="caption">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <ul class="list-group list-group-horizontal d-flex flex-wrap">
                    <li class="list-group-item" *ngFor="let tech of project.technologies">{{ tech }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>