.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .caption {
    opacity: 1;
}

.grid-item .caption p {
    color: #fff;
    font-size: 18px;
    text-align: left;
}

.list-group-item {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-group-horizontal {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-horizontal .list-group-item {
    margin-right: 0.5rem;
}