<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://www.thecocktaildb.com//images//media//drink//squsuy1468926657.jpg" alt="Zdjęcie 1">
                <div class="caption">
                    <p>Tekst 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="../../img/ceneo_searcher.jpg" alt="Zdjęcie 2">
                <div class="caption">
                    <p>Tekst 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 3">
                <div class="caption">
                    <p>Tekst 3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 4">
                <div class="caption">
                    <p>Tekst 4</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 5">
                <div class="caption">
                    <p>Tekst 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 6">
                <div class="caption">
                    <p>Tekst 6</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 7">
                <div class="caption">
                    <p>Tekst 7</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 8">
                <div class="caption">
                    <p>Tekst 8</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <img src="https://via.placeholder.com/300" alt="Zdjęcie 9">
                <div class="caption">
                    <p>Tekst 9</p>
                </div>
            </div>
        </div>
    </div>
</div>