<div class="container mt-3">
    <div class="row d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://drinker.fly.dev" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/Drinker/production/img/drinker.png"
                        alt="Coctails" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Drinker</h3>
                    <p>Choose your favourite ingredients and make a coctails.</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Angular</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">CI/CD</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="https://gw-quizzy.fly.dev" target="_blank">
                <div class="grid-item">
                    <img src="https://raw.githubusercontent.com/gwalus/Quizzy_v2/master/img/quizzy.png" alt="Quizzy_v2"
                        class="img-fluid">
                    <div class="caption">
                        <h3>Quizzy</h3>
                        <p>Check your knowledge from other categories...</p>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">WebAPI</li>
                            <li class="list-group-item">Angular</li>
                            <li class="list-group-item">PostgreSQL</li>
                            <li class="list-group-item">Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://gw-dating-app.fly.dev" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/DatingApp2.0_Udemy/master/img/dating_app_main.png"
                        alt="DatingApp" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>DatingApp</h3>
                    <p>Register and find your new love...</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Angular</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">SignalR</li>
                        <li class="list-group-item">Fly.io</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/CeneoSearcher" target="_blank">
                    <!-- <img src="https://raw.githubusercontent.com/gwalus/gwalus.github.io/main/src/img/ceneo_searcher.jpg"
                        alt="CeneoSearcher" class="img-fluid"> -->

                    <img src="/assets/ceneo.png" alt="CeneoSearcher" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>CeneoSearcher</h3>
                    <p>Find products, subscribe them and check how prices change.</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">Sqlite</li>
                        <li class="list-group-item">WebScrapping</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/ShoesCollector" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/ShoesCollector/main/img/image36.png"
                        alt="ShoesCollector" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>ShoesCollector</h3>
                    <p>Store data about your buying and selling process.</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">Heroku</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/Confab" target="_blank">
                    <img src="https://cdn.devmentors.io/courses/modularny-monolit/modularny-monolit.png" alt="Confab"
                        class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Confab</h3>
                    <p>A modular monolit architecture course created by DevMentors.</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WebAPI</li>
                        <li class="list-group-item">Clean Architecture</li>
                        <li class="list-group-item">PostgreSQL</li>
                        <li class="list-group-item">DDD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/Drumpad" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/Drumpad/master/Screenshots/dp_3.png"
                        alt="Drumpad" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>Drumpad</h3>
                    <p>Choose your music style and play by mixed other</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">WPF</li>
                        <li class="list-group-item">XAML</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/RoadFighter_WinformsGame" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/RoadFighter_WinformsGame/master/RoadFighter/RoadFighter/ScreenShots/rf_2.png"
                        alt="RoadFighter" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>RoadFighter</h3>
                    <p>RoadFighter - the game inspired the game at the same name from pegasus.</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">Windows Forms / C#</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="grid-item">
                <a href="https://github.com/gwalus/QuizApp_Xamarin" target="_blank">
                    <img src="https://raw.githubusercontent.com/gwalus/QuizApp_Xamarin/master/QuizApp/QuizApp/Screenshots/Screenshot_20210107-114201.png"
                        alt="QuizApp" class="img-fluid">
                </a>
                <div class="caption">
                    <h3>QuizApp</h3>
                    <p>Check your knowledge from other categories...</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">Xamarin / C#</li>
                        <li class="list-group-item">Mobile App</li>
                        <li class="list-group-item">Open Trivia DB</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>